/* your code */
table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 15px;
  overflow: hidden;
}


thead {
  background-color: #235b8e;
  color: white;
}

th, td {
  padding: 15px 20px;
  text-align: center;
}


tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}


tbody tr:hover {
  background-color: #d1ecf1;
}